@keyframes slide-in-left {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-bottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-in-left {
    animation: slide-in-left 1s forwards;
  }
  
  .slide-in-bottom {
    animation: slide-in-bottom 1s forwards;
  }
  
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }
  
  .vertical-text-container {
    transform: rotate(180deg);
  }