@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
    font-family: 'mycustomfont';
    src: url('../assets/fonts/merich.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.fontmycustom {
    font-family: 'mycustomfont', sans-serif;
}

.sidebaricon {
    unicode-bidi: isolate;
}






 
.blend {
    mix-blend-mode: difference;
    color: #e2dcc8;
    position: relative;
    z-index: 2;
  }
  
  .blend2 {
    mix-blend-mode: difference;
    color: whitesmoke;
    position: relative;
    z-index: 2;
  }
  

  .animate-line-drop {
    animation: lineDrop 3s linear infinite;
  }
  .animate-on-scroll {
    opacity: 0;
    transform: translateY(50px);
  }
  
  .animate-on-scroll.animate {
    animation: fadeInUp 2s ease-out forwards;
  }
  
  

